a {
  color: #8fcdaf;
}
.Weather {
  background-color: #1c3c6b;
  font-family: "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  padding: 20px;
  border-radius: 8px;
}

.Weather h1 {
  color: #f9f7fe;
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: rgb(187, 182, 182);
}

.Weather li {
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #f9f7fe;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather canvas {
  max-height: 50px;
  padding-bottom: 5px;
}

.Weather .unit {
  color: #f9f7fe;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -35px;
  margin-left: 2px;
}
.Weather .search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 103%;
  padding: 15px 20px;
  font-size: 16px;
}

.Weather .search-form-button {
  background-color: #8fcdaf;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.Weather .search-form-button:hover {
  background-color: #8fcdaf;
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 380px) {
  .Weather ul {
    font-size: 12px;
  }
  .Weather canvas {
    max-height: 30px;
    align-self: center;
    padding: 0;
  }
  .Weather .search-form-input {
    width: 90%;
  }
}
